
  /*Welcome*/
  #welcome-section{
    margin-top:7.5vh;
    height:100vh;
    width:100vw;
    background-image: url("../../airplan.png");
    background-size: cover;
    background-position: center;
    color:#F98363;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;
  }
  #welcome-title{
    color: black;

  }
  #welcome-subtitle{
    color: black;
    padding: 2em;
  }

  